<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>it.gsquare.lastpass</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1DCF40DF-499F-466D-AEB8-22A5234BBE91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28DC9509-BDE3-4DDD-B9F9-B63F2F619538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1420A8-86FC-41F6-977D-0F101DEC7DD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FA82009-4F52-4157-A2C3-E9407AD8BF42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78D42D6F-BE33-47AD-8701-EE0122A028C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E2DCA84-9871-477E-AC81-64A3F4923576</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BEE3A39-9B4E-4320-8D1C-AF71FEB4ABE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A09B9C-2656-4F5D-A996-340C8F770D3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>861B2868-ECAB-4998-A447-65152165D1ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAC34065-493A-4E6B-934A-CA46C199551B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>889420DF-70FB-4C91-BA11-D1AE04AA4494</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78D42D6F-BE33-47AD-8701-EE0122A028C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D482BEB-05C2-4B97-A59E-8647A84310A5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28DC9509-BDE3-4DDD-B9F9-B63F2F619538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F9D097DC-88A0-4775-8790-C4EAC583CDF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2FA82009-4F52-4157-A2C3-E9407AD8BF42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>890BB9F8-9EA8-452E-9DFB-95A3645E919F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>889420DF-70FB-4C91-BA11-D1AE04AA4494</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEFCFC96-69A9-4D17-8F01-D8912DCBAE16</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>{var:modifier_shift}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DCF40DF-499F-466D-AEB8-22A5234BBE91</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>{var:modifier_command}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8875664-12BD-4CC7-997F-C1A8FD5E3711</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>{var:modifier_option}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9487D1F1-620C-4C23-9C0D-E8526953691E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BEE3A39-9B4E-4320-8D1C-AF71FEB4ABE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAA129C-2C8B-4AA9-8671-FF4EE42153B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FAA129C-2C8B-4AA9-8671-FF4EE42153B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3D9680E-7578-4133-85B1-52022476A344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8875664-12BD-4CC7-997F-C1A8FD5E3711</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3D9680E-7578-4133-85B1-52022476A344</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC8EE3F6-5CA7-43E3-B8DE-539F6F045614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6EC75B76-BB0D-4887-92D0-5E440B4EDB1A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEFCFC96-69A9-4D17-8F01-D8912DCBAE16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC8EE3F6-5CA7-43E3-B8DE-539F6F045614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9487D1F1-620C-4C23-9C0D-E8526953691E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3829D5E-58C2-4E88-A324-DF9FF9AE77FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAC34065-493A-4E6B-934A-CA46C199551B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gigitsu</string>
	<key>description</key>
	<string>Alfred integration for LastPass password manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LastPass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/lastpass/lastpass-cli#installing-on-os-x</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9E2DCA84-9871-477E-AC81-64A3F4923576</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Open the LastPass CLI github repository with installation instruction for macOS</string>
				<key>title</key>
				<string>Open LastPass CLI web page?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>78D42D6F-BE33-47AD-8701-EE0122A028C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:items_search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting items...</string>
				<key>script</key>
				<string>./lastpass.js 'list'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list_items.sh</string>
				<key>subtext</key>
				<string>Show yuour LastPass items</string>
				<key>title</key>
				<string>LastPass</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search_items</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>890BB9F8-9EA8-452E-9DFB-95A3645E919F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>Install LastPass CLI</string>
						<key>uid</key>
						<string>2D482BEB-05C2-4B97-A59E-8647A84310A5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>log_in</string>
						<key>outputlabel</key>
						<string>Log In</string>
						<key>uid</key>
						<string>F9D097DC-88A0-4775-8790-C4EAC583CDF9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>889420DF-70FB-4C91-BA11-D1AE04AA4494</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LastPass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AC1420A8-86FC-41F6-977D-0F101DEC7DD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./lastpass.js 'log_in' $username</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28DC9509-BDE3-4DDD-B9F9-B63F2F619538</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:modifier_none.lowercase}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2FA82009-4F52-4157-A2C3-E9407AD8BF42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:modifier_shift.lowercase}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEFCFC96-69A9-4D17-8F01-D8912DCBAE16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:modifier_command.lowercase}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DCF40DF-499F-466D-AEB8-22A5234BBE91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./lastpass.js $1 $id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FAA129C-2C8B-4AA9-8671-FF4EE42153B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sensitive_data</string>
						<key>outputlabel</key>
						<string>Clear clipboard</string>
						<key>uid</key>
						<string>6EC75B76-BB0D-4887-92D0-5E440B4EDB1A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B3D9680E-7578-4133-85B1-52022476A344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string> </string>
				<key>replacestring</key>
				<string>_</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:modifier_option.lowercase}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A8875664-12BD-4CC7-997F-C1A8FD5E3711</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:0}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7BEE3A39-9B4E-4320-8D1C-AF71FEB4ABE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Clipboard cleared</string>
				<key>title</key>
				<string>LastPass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54A09B9C-2656-4F5D-A996-340C8F770D3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:msg}</string>
				<key>title</key>
				<string>LastPass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DC8EE3F6-5CA7-43E3-B8DE-539F6F045614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>861B2868-ECAB-4998-A447-65152165D1ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search_items</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BAC34065-493A-4E6B-934A-CA46C199551B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:clipboard_timeout}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>9487D1F1-620C-4C23-9C0D-E8526953691E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search LastPass for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>F3829D5E-58C2-4E88-A324-DF9FF9AE77FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1DCF40DF-499F-466D-AEB8-22A5234BBE91</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>28DC9509-BDE3-4DDD-B9F9-B63F2F619538</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>2FA82009-4F52-4157-A2C3-E9407AD8BF42</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>54A09B9C-2656-4F5D-A996-340C8F770D3F</key>
		<dict>
			<key>xpos</key>
			<real>1045</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>78D42D6F-BE33-47AD-8701-EE0122A028C9</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7BEE3A39-9B4E-4320-8D1C-AF71FEB4ABE5</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>861B2868-ECAB-4998-A447-65152165D1ED</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>889420DF-70FB-4C91-BA11-D1AE04AA4494</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>890BB9F8-9EA8-452E-9DFB-95A3645E919F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9487D1F1-620C-4C23-9C0D-E8526953691E</key>
		<dict>
			<key>note</key>
			<string>Clipboard clearing delay</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>9D275170-FD2A-4CC0-8C25-7EB1A41672F0</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>9E2DCA84-9871-477E-AC81-64A3F4923576</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9FAA129C-2C8B-4AA9-8671-FF4EE42153B6</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>A8875664-12BD-4CC7-997F-C1A8FD5E3711</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>AC1420A8-86FC-41F6-977D-0F101DEC7DD9</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>B3D9680E-7578-4133-85B1-52022476A344</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>BAC34065-493A-4E6B-934A-CA46C199551B</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>CEFCFC96-69A9-4D17-8F01-D8912DCBAE16</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>DC8EE3F6-5CA7-43E3-B8DE-539F6F045614</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>F3829D5E-58C2-4E88-A324-DF9FF9AE77FF</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>lp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>items_search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>List of account's usernames you want to manage. One username per line</string>
			<key>label</key>
			<string>Accounts</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>accounts_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>eg. 30m | 1h | 1d</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How long before your LastPass session expires. Once expired, you have to authenticate again with your master password. Use 0 to never expire, leave it blank to use default value.</string>
			<key>label</key>
			<string>Session Duration</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>agent_timeout</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How many seconds password will be in your clipboard</string>
			<key>label</key>
			<string>Clipboard Timeout</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>clipboard_timeout</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Copy Password</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy Username</string>
						<string>Copy Username</string>
					</array>
					<array>
						<string>Copy Password</string>
						<string>Copy Password</string>
					</array>
					<array>
						<string>Open</string>
						<string>Open</string>
					</array>
					<array>
						<string>View in LastPass</string>
						<string>View in LastPass</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>modifier_none</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Copy Username</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy Username</string>
						<string>Copy Username</string>
					</array>
					<array>
						<string>Copy Password</string>
						<string>Copy Password</string>
					</array>
					<array>
						<string>Open</string>
						<string>Open</string>
					</array>
					<array>
						<string>View in LastPass</string>
						<string>View in LastPass</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⇧↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>modifier_shift</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy Username</string>
						<string>Copy Username</string>
					</array>
					<array>
						<string>Copy Password</string>
						<string>Copy Password</string>
					</array>
					<array>
						<string>Open</string>
						<string>Open</string>
					</array>
					<array>
						<string>View in LastPass</string>
						<string>View in LastPass</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌘↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>modifier_command</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>View in LastPass</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy Username</string>
						<string>Copy Username</string>
					</array>
					<array>
						<string>Copy Password</string>
						<string>Copy Password</string>
					</array>
					<array>
						<string>Open</string>
						<string>Open</string>
					</array>
					<array>
						<string>View in LastPass</string>
						<string>View in LastPass</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌥↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>modifier_option</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Only show Login items</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Types</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>logins_only</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Only show website hostnames</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shortened URLs</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hostnames_only</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Check for LastPass modifications and offer to update data</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Detect Changes</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>auto_refresh</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
